# Car Price - Dataset

Scraping data for Car price Price Prediction

In [1]:
#importing important libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import Select

# Scraping data from Olx.com

In [2]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
olx='https://www.olx.in/'
driver.get(olx)

In [150]:
#getting the location elelment
driver.find_element_by_class_name("_2xvhw").send_keys("Delhi");

In [151]:
#Getting car name element
driver.find_element_by_xpath("//input[@placeholder='Find Cars, Mobile Phones and more...']").send_keys("Sedan");

In [152]:
#click on search button
search_btn = driver.find_element_by_xpath("//div[@class='_3b3oR']")
search_btn.click()

In [153]:
# Firstly we'll get all the urls of all required pages after that will scrap the data by getting its urls:
urls =[] #all car urls
time.sleep(3)
start=0
end=10
for page in range(start,end):
    car_brand = driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2tW1I']")
for page in range(0,3):
    product_url = driver.find_elements_by_xpath("//li[@class='EIR5N']")   #Scrapping product urls
    for i in product_url:
        urls.append(i.get_attribute('href'))
    count = len(car_brand)
    i = len(car_brand)
    if count<=20:
        loadmore=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        loadmore.click()
        time.sleep(3)
time.sleep(3)

In [164]:
Brand4=[]  
Manu_year4=[]
car_model4=[]
Variant4=[]
Price4=[]
Driven_km4=[]
Fuel_Type4=[]


try:
    Brand_elements4=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2tW1I']")
    for q in Brand_elements4:
        Brand4.append(q.text.strip().split(' ')[0].strip())
except NoSuchElementException:
    Brand4.append("--")
#Brand4  

#Scrapping Manufacturing year
try:
    manu_year_elements4=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2TVI3']")
    for m in manu_year_elements4:
        Manu_year4.append(m.text.strip().split('-')[0].strip())
except NoSuchElementException:
        Manu_year4.append("--")
#Manu_year4




#Scrapping Driven_km of used cars
try:
    manu_year_elements4=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2TVI3']")
    for p in manu_year_elements4:
        Driven_km4.append(p.text.strip().split('-')[1].strip())
except NoSuchElementException:
        Driven_km4.append("--")
#Driven_km4

#Scrapping Price of used cars
try:
    price_elements4=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_89yzn']")
    for s in price_elements4:
        Price4.append(s.text.strip().split('₹')[1].strip())
except NoSuchElementException:
        Price4.append("--")
#Price4

#Scrapping Fuel of used cars
try:
    for t in Brand_elements4:
        Fuel_Type4.append(t.text.strip().split(' ')[-1].strip())
except NoSuchElementException:
        Fuel_Type4.append("--")
#Fuel_Type4

#Fuel

In [166]:
#creating Dataframe
Used_Cars_olx=pd.DataFrame({'Brand':Brand4[:492],
                
                'Price':Price4[:492],
                'Manufacturing_Year':Manu_year4[:492],
               
                'Location':Location[:492],
                'Driven_km':Driven_km4[:492],
                'Fuel_Type':Fuel_Type4[:492]
                })
Used_Cars_olx #Printing the dataframe

          Brand      Price Manufacturing_Year Location   Driven_km   Fuel_Type
0          2BHK  38,00,000              2 Bds     Pune        2 Ba     parking
1    Volkswagen   4,50,000               2013     Pune   42,000 km      Diesel
2          Ford   6,00,000               2013     Pune   86,092 km      Diesel
3        Maruti   3,20,000               2018     Pune   13,200 km        2018
4      Mahindra   1,40,000               2011     Pune  125,000 km      Diesel
..          ...        ...                ...      ...         ...         ...
487        Fiat   1,15,000               2017     Pune   46,000 km  Maintained
488     Hyundai   5,50,000               2015     Pune   78,000 km      Petrol
489     Renault   7,70,000               2018     Pune   23,000 km      Petrol
490     Hyundai   9,99,000               2016     Pune   80,000 km      Petrol
491     Hyundai   6,90,000               2019     Pune   35,000 km  Maintained

[492 rows x 6 columns]

In [ ]:
Scraping data in olx from Mumbai

In [168]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_Cars_olx.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Used_Cars_olx.to_excel(writer, sheet_name='Sheet1')

writer.save()

In [ ]:
#Scrapping data for SUV cars in location Mumbai

In [2]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
olx='https://www.olx.in/'
driver.get(olx)

In [8]:
#getting the location elelment
driver.find_element_by_class_name("_2xvhw").send_keys("Mumbai");

In [9]:
#Getting car name element
driver.find_element_by_xpath("//input[@placeholder='Find Cars, Mobile Phones and more...']").send_keys("used cars");

In [10]:
#click on search button
search_btn = driver.find_element_by_xpath("//div[@class='_3b3oR']")
search_btn.click()

In [ ]:
# Firstly we'll get all the urls of all required pages after that will scrap the data by getting its urls:
urls =[] #all car urls
time.sleep(3)
start=0
end=10
for page in range(start,end):
    car_brand5 = driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2tW1I']")
for page in range(0,3):
    product_url = driver.find_elements_by_xpath("//li[@class='EIR5N']")   #Scrapping product urls
    for i in product_url:
        urls.append(i.get_attribute('href'))
    count = len(car_brand5)
    i = len(car_brand5)
    if count<=20:
        loadmore=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
        loadmore.click()
        time.sleep(3)
time.sleep(3)

In [13]:
Brand5=[]  
Manu_year5=[]
car_model5=[]
Variant5=[]
Price5=[]
Driven_km5=[]
Fuel_Type5=[]


try:
    Brand_elements5=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2tW1I']")
    for q in Brand_elements5:
        Brand5.append(q.text.strip().split(' ')[0].strip())
except NoSuchElementException:
    Brand5.append("--")
#Brand5  

#Scrapping Manufacturing year
try:
    manu_year_elements5=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2TVI3']")
    for m in manu_year_elements5:
        Manu_year5.append(m.text.strip().split('-')[0].strip())
except NoSuchElementException:
        Manu_year5.append("--")
#Manu_year4




#Scrapping Driven_km of used cars
try:
    manu_year_elements5=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_2TVI3']")
    for p in manu_year_elements5:
        Driven_km5.append(p.text.strip().split('-')[1].strip())
except NoSuchElementException:
        Driven_km5.append("--")
#Driven_km5

#Scrapping Price of used cars
try:
    price_elements5=driver.find_elements_by_xpath("//div[@class='IKo3_']/span[@class='_89yzn']")
    for s in price_elements5:
        Price5.append(s.text.strip().split('₹')[1].strip())
except NoSuchElementException:
        Price5.append("--")
#Price4

#Scrapping Fuel of used cars
try:
    for t in Brand_elements5:
        Fuel_Type5.append(t.text.strip().split(' ')[-1].strip())
except NoSuchElementException:
        Fuel_Type5.append("--")
#Fuel_Type4

#Fuel

In [18]:
#creating Dataframe
Used_Cars_olx_Mumbai=pd.DataFrame({'Brand':Brand5[:500],
                
                'Price':Price5[:500],
                'Manufacturing_Year':Manu_year5[:500],
               
               # 'Location':Location5[:500],
                'Driven_km':Driven_km5[:500],
                'Fuel_Type':Fuel_Type5[:500]
                })
Used_Cars_olx_Mumbai #Printing the dataframe

             Brand     Price Manufacturing_Year   Driven_km Fuel_Type
0    Mercedes-Benz  3,99,000               2008  112,900 km    Petrol
1          Renault  4,25,000               2018   21,000 km    Petrol
2           Nissan  2,30,000               2016   21,270 km    Petrol
3           Maruti  1,50,000               2016  160,000 km   Hybrids
4          Hyundai  6,00,000               2016  180,000 km    Petrol
..             ...       ...                ...         ...       ...
495          Skoda  1,00,000               2010   60,000 km    Diesel
496         Maruti  4,50,000               2002  120,000 km    Diesel
497         Maruti  1,00,000               2005  140,000 km    Petrol
498       Mahindra  3,50,000               2004  120,000 km    Diesel
499          Honda  1,15,000               2011   65,000 km   Hybrids

[500 rows x 5 columns]

In [ ]:
Used_Cars_olx_Mumbai

In [19]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_Cars_olx_Mumbai.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Used_Cars_olx_Mumbai.to_excel(writer, sheet_name='Sheet1')

writer.save()

# Data Scraping from CarDekho website

In [38]:
driver = webdriver.Chrome(r"C:\Users\Pooja.Mishra\Downloads\chromedriver_win32\chromedriver.exe")

In [39]:
Car_dekho_url='https://www.cardekho.com/'
driver.get(Car_dekho_url)

In [46]:
#Get element on search button
used_car_btn = driver.find_element_by_id("cardekhosearchtext")
used_car_btn.send_keys("Used Cars In New Delhi")

In [45]:
search_button=driver.find_element_by_xpath("//button[@class='searchbtn']")
search_button.click()

In [34]:
#Automate 'Enter' key to get the products webpage
from selenium.webdriver.common.keys import Keys
used_car_btn.send_keys(Keys.ENTER) #clicking enter button to get the searched webpage

In [49]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(50)

In [54]:
#car_details elements
Brand=[]
Manu_year=[] 
car_model=[]
Variant=[]
Price=[]
Location=[]
Driven_km=[]
Fuel_Type=[]

try:
    Brand_elements=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for q in Brand_elements:
        Brand.append(q.text.strip().split(' ')[1].strip())
except NoSuchElementException:
    Brand.append("--")
    
#Scrapping Manufacturing year
try:
    for m in Brand_elements:
        Manu_year.append(m.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Manu_year.append("--")
#Manu_year

#Scrapping Car model
try:
    for n in Brand_elements:
        car_model.append(n.text.strip().split(' ')[2].strip())
except NoSuchElementException:
        car_model.append("--")
#car_model

#Scrapping Car Variant
try:
    variant_elements=driver.find_elements_by_xpath("//div[@style='min-height: 16px; color: rgba(0, 0, 0, 0.6);']")
    for o in variant_elements:
        Variant.append(o.text)
except NoSuchElementException:
        Variant.append("--")
#Variant

#Scrapping Price of used cars
try:
    price_elements=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for p in price_elements:
        Price.append(p.text)
except NoSuchElementException:
        Price.append("--")
#Price

#Scrapping Location of used cars
try:
    car_location_elements=driver.find_elements_by_xpath("//div[@class='cityIcon']")
    for r in car_location_elements:
        Location.append(r.text)
except NoSuchElementException:
        Location.append("--")

#Location

#Scrapping Driven KM of used cars
try:
    driven_km_elements=driver.find_elements_by_xpath("//div[@class='truncate dotlist']")
    for s in driven_km_elements:
        Driven_km.append(s.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Driven_km.append("--")


#Scrapping Fuel of used cars
try:
    for t in driven_km_elements:
        Fuel_Type.append(t.text.strip().split('kms')[1].strip())
except NoSuchElementException:
        Fuel_Type.append("--")
#Fuel

In [55]:
print (len(Variant))
print (len(Price))
print (len(Location))
print (len(Driven_km))
print (len(Fuel_Type))
print (len(car_model))
print (len(Fuel_Type))
print (len(Manu_year))
print (len(Brand))

4162
4162
3714
4162
4162
4162
4162
4162
4162

In [56]:
#creating Dataframe
Used_Cars=pd.DataFrame({'Brand':Brand[:3714],
                'Model':car_model[:3714],
                'Price':Price[:3714],
                'Manufacturing_Year':Manu_year[:3714],
                'Variant':Variant[:3714],
                'Location':Location[:3714],
                'Driven_km':Driven_km[:3714],
                'Fuel_Type':Fuel_Type[:3714]
                })
Used_Cars #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Location,Driven_km,Fuel_Type
0,Skoda,Rapid,3.07 Lakh,2013,1.6 MPI Elegance,New Delhi,"43,444",Petrol
1,Renault,Pulse,1.47 Lakh,2012,RxZ,New Delhi,"68,798",Diesel
2,Honda,Jazz,4.67 Lakh,2016,V,New Delhi,"52,197",Petrol
3,Hyundai,i20,6.15 Lakh,2017,1.4 Asta Option,New Delhi,"31,583",Diesel
4,Hyundai,Creta,9.86 Lakh,2017,1.6 CRDi AT S Plus,New Delhi,"51,742",Diesel
...,...,...,...,...,...,...,...,...
3709,Hyundai,Santro,"63,000",2007,XL,New Delhi,"86,648",Petrol
3710,Honda,City,4.34 Lakh,2015,i DTEC V,New Delhi,"1,39,336",Diesel
3711,Volkswagen,Vento,1.69 Lakh,2012,Diesel Trendline,New Delhi,"82,597",Diesel
3712,Maruti,Eeco,3.55 Lakh,2017,5 STR With AC Plus HTR CNG,New Delhi,"42,000",CNG
3713,Chevrolet,Beat,"97,000",2012,Diesel LS,New Delhi,"77,958",Diesel

In [59]:
#creating Dataframe
Used_Cars_in_Delhi=pd.DataFrame({'Brand':Brand,
                'Model':car_model,
                'Price':Price,
                'Manufacturing_Year':Manu_year,
                'Variant':Variant,
                #'Location':Location,
                'Driven_km':Driven_km,
                'Fuel_Type':Fuel_Type
                })
Used_Cars_in_Delhi #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Driven_km,Fuel_Type
0,Skoda,Rapid,3.07 Lakh,2013,1.6 MPI Elegance,"43,444",Petrol
1,Renault,Pulse,1.47 Lakh,2012,RxZ,"68,798",Diesel
2,Honda,Jazz,4.67 Lakh,2016,V,"52,197",Petrol
3,Hyundai,i20,6.15 Lakh,2017,1.4 Asta Option,"31,583",Diesel
4,Hyundai,Creta,9.86 Lakh,2017,1.6 CRDi AT S Plus,"51,742",Diesel
...,...,...,...,...,...,...,...
4157,Hyundai,Verna,3.6 Lakh,2013,1.6 SX VTVT (O),"90,000",Petrol
4158,Maruti,Wagon,2.14 Lakh,2011,VXI BS IV,"44,545",Petrol
4159,Mahindra,Thar,6.95 Lakh,2016,CRDe,"62,000",Diesel
4160,Honda,Amaze,7.25 Lakh,2018,S CVT i-VTEC,"19,000",Petrol
4161,Mercedes-Benz,GLE,50 Lakh,2017,250d,"15,000",Diesel

In [60]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_cars_in_Delhi.xlsx', engine='xlsxwriter')

In [61]:
# Write each dataframe to a different worksheet.
Used_Cars_in_Delhi.to_excel(writer, sheet_name='Sheet1')

In [62]:
writer.save()

In [ ]:
#Scrapping used cars data in Noida

In [4]:
#Get element on search button
used_car_btn1 = driver.find_element_by_id("cardekhosearchtext")
used_car_btn1.send_keys("Used Cars In Mumbai")

In [5]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(60)

In [66]:
#Automate 'Enter' key to get the products webpage
from selenium.webdriver.common.keys import Keys
used_car_btn1.send_keys(Keys.ENTER) #clicking enter button to get the searched webpage

In [6]:
#car_details elements
Brand1=[]
Manu_year1=[] 
car_model1=[]
Variant1=[]
Price1=[]
Location1=[]
Driven_km1=[]
Fuel_Type1=[]

try:
    Brand_elements1=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for q in Brand_elements1:
        Brand1.append(q.text.strip().split(' ')[1].strip())
except NoSuchElementException:
    Brand1.append("--")
    
#Scrapping Manufacturing year
try:
    for m in Brand_elements1:
        Manu_year1.append(m.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Manu_year1.append("--")
#Manu_year

#Scrapping Car model
try:
    for n in Brand_elements1:
        car_model1.append(n.text.strip().split(' ')[1].strip())
except NoSuchElementException:
        car_model1.append("--")
#car_model

#Scrapping Car Variant
try:
    variant_elements1=driver.find_elements_by_xpath("//div[@style='min-height: 16px; color: rgba(0, 0, 0, 0.6);']")
    for o in variant_elements1:
        Variant1.append(o.text)
except NoSuchElementException:
        Variant1.append("--")
#Variant

#Scrapping Price of used cars
try:
    price_elements1=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for p in price_elements1:
        Price1.append(p.text)
except NoSuchElementException:
        Price1.append("--")
#Price

#Scrapping Location of used cars
try:
    car_location_elements1=driver.find_elements_by_xpath("//div[@class='cityIcon']")
    for r in car_location_elements1:
        Location1.append(r.text)
except NoSuchElementException:
        Location1.append("--")

#Location

#Scrapping Driven KM of used cars
try:
    driven_km_elements1=driver.find_elements_by_xpath("//div[@class='truncate dotlist']")
    for s in driven_km_elements1:
        Driven_km1.append(s.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Driven_km1.append("--")


#Scrapping Fuel of used cars
try:
    for t in driven_km_elements1:
        Fuel_Type1.append(t.text.strip().split('kms')[1].strip())
except NoSuchElementException:
        Fuel_Type1.append("--")
#Fuel

In [8]:
print (len(Variant1))
print (len(Price1))
print (len(Location1))
print (len(Driven_km1))
print (len(Fuel_Type1))
print (len(car_model1))
print (len(Fuel_Type1))
print (len(Manu_year1))
print (len(Brand1))

4204
4204
3910
4204
4204
3829
4204
3829
3829

In [9]:
#creating Dataframe
Used_Cars_in_Noida=pd.DataFrame({'Brand':Brand1[:3829],
                'Model':car_model1[:3829],
                'Price':Price1[:3829],
                'Manufacturing_Year':Manu_year1[:3829],
                'Variant':Variant1[:3829],
                #'Location':Location,
                'Driven_km':Driven_km1[:3829],
                'Fuel_Type':Fuel_Type1[:3829]
                })
Used_Cars_in_Noida #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Driven_km,Fuel_Type
0,Mahindra,Mahindra,3.52 Lakh,2016,mFALCON G80 K8 5str,"20,219",Petrol
1,Maruti,Maruti,3.77 Lakh,2015,VXI BS IV,"9,329",Petrol
2,Maruti,Maruti,6.62 Lakh,2016,BSIV ZXI,"48,376",Petrol
3,Renault,Renault,4.71 Lakh,2014,85PS Diesel RxL,"42,118",Diesel
4,Honda,Honda,3.35 Lakh,2015,E MT,"25,196",Petrol
...,...,...,...,...,...,...,...
3824,Hyundai,Hyundai,5.85 Lakh,2015,Sportz Option 1.2,"19,100",Petrol
3825,Kia,Kia,18.75 Lakh,2020,GTX Plus DCT,"22,000",Petrol
3826,Maruti,Maruti,8.25 Lakh,2018,1.3 Zeta,"21,000",Diesel
3827,Honda,Honda,6.25 Lakh,2016,i VTEC S,"57,000",Petrol
3828,Hyundai,Hyundai,3.51 Lakh,2013,Magna Optional 1.2,"65,000",Petrol

In [73]:
#Scrapping used cars data in Pune

In [19]:
#Get element on search button
used_car_btn2 = driver.find_element_by_id("cardekhosearchtext")
used_car_btn2.send_keys("Used Cars In Pune")

In [17]:
#Automate 'Enter' key to get the products webpage
from selenium.webdriver.common.keys import Keys
used_car_btn2.send_keys(Keys.ENTER) #clicking enter button to get the searched webpage

In [18]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(60)

In [20]:
#car_details elements
Brand=[]
Manu_year=[] 
car_model=[]
Variant=[]
Price=[]
Location=[]
Driven_km=[]
Fuel_Type=[]

try:
    Brand_elements=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for q in Brand_elements:
        Brand.append(q.text.strip().split(' ')[1].strip())
except NoSuchElementException:
    Brand.append("--")
    
#Scrapping Manufacturing year
try:
    for m in Brand_elements:
        Manu_year.append(m.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Manu_year.append("--")
#Manu_year

#Scrapping Car model
try:
    for n in Brand_elements:
        car_model.append(n.text.strip().split(' ')[2].strip())
except NoSuchElementException:
        car_model.append("--")
#car_model

#Scrapping Car Variant
try:
    variant_elements=driver.find_elements_by_xpath("//div[@style='min-height: 16px; color: rgba(0, 0, 0, 0.6);']")
    for o in variant_elements:
        Variant.append(o.text)
except NoSuchElementException:
        Variant.append("--")
#Variant

#Scrapping Price of used cars
try:
    price_elements=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for p in price_elements:
        Price.append(p.text)
except NoSuchElementException:
        Price.append("--")
#Price

#Scrapping Location of used cars
try:
    car_location_elements=driver.find_elements_by_xpath("//div[@class='cityIcon']")
    for r in car_location_elements:
        Location.append(r.text)
except NoSuchElementException:
        Location.append("--")

#Location

#Scrapping Driven KM of used cars
try:
    driven_km_elements=driver.find_elements_by_xpath("//div[@class='truncate dotlist']")
    for s in driven_km_elements:
        Driven_km.append(s.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Driven_km.append("--")


#Scrapping Fuel of used cars
try:
    for t in driven_km_elements:
        Fuel_Type.append(t.text.strip().split('kms')[1].strip())
except NoSuchElementException:
        Fuel_Type.append("--")
#Fuel

In [21]:
print (len(Variant))
print (len(Price))
print (len(Location))
print (len(Driven_km))
print (len(Fuel_Type))
print (len(car_model))
print (len(Fuel_Type))
print (len(Manu_year))
print (len(Brand))

1328
1328
1243
1328
1328
1328
1328
1328
1328

In [22]:
#creating Dataframe
Used_Cars_in_Noida=pd.DataFrame({'Brand':Brand,
                'Model':car_model,
                'Price':Price,
                'Manufacturing_Year':Manu_year,
                'Variant':Variant,
                #'Location':Location,
                'Driven_km':Driven_km,
                'Fuel_Type':Fuel_Type
                })
Used_Cars_in_Noida #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Driven_km,Fuel_Type
0,Maruti,Ertiga,7.48 Lakh,2015,VXI CNG,"32,445",CNG
1,Hyundai,Santro,5.91 Lakh,2019,Sportz AMT BSIV,"4,491",Petrol
2,Hyundai,Santro,5.78 Lakh,2019,Sportz AMT BSIV,"24,266",Petrol
3,Maruti,Ignis,5.59 Lakh,2017,Alpha,"13,483",Petrol
4,Maruti,Ignis,5.4 Lakh,2017,1.2 Alpha BSIV,"29,584",Petrol
...,...,...,...,...,...,...,...
1323,BMW,X3,45 Lakh,2018,xDrive 20d Luxury Line,"88,000",Diesel
1324,Hyundai,i20,8.25 Lakh,2018,Petrol CVT Asta,"25,000",Petrol
1325,Honda,Accord,2.75 Lakh,2007,V6 AT,"1,00,000",Petrol
1326,Hyundai,Verna,12 Lakh,2019,CRDi 1.6 SX,"16,000",Diesel
1327,Maruti,Zen,1.7 Lakh,2008,1.1 LXI BSIII,"1,00,000",Petrol

In [23]:
#Scraping data in location Noida

In [29]:
#Get element on search button
used_car_btn2 = driver.find_element_by_id("cardekhosearchtext")
used_car_btn2.send_keys("Used Luxury Cars In Bangalore")

In [17]:
#Automate 'Enter' key to get the products webpage
from selenium.webdriver.common.keys import Keys
used_car_btn2.send_keys(Keys.ENTER) #clicking enter button to get the searched webpage

In [30]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(60)

In [31]:
#car_details elements
Brand2=[]
Manu_year2=[] 
car_model2=[]
Variant2=[]
Price2=[]
Location2=[]
Driven_km2=[]
Fuel_Type2=[]

try:
    Brand_elements2=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for q in Brand_elements2:
        Brand2.append(q.text.strip().split(' ')[1].strip())
except NoSuchElementException:
    Brand2.append("--")
    
#Scrapping Manufacturing year
try:
    for m in Brand_elements2:
        Manu_year2.append(m.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Manu_year2.append("--")
#Manu_year

#Scrapping Car model
try:
    for n in Brand_elements2:
        car_model2.append(n.text.strip().split(' ')[2].strip())
except NoSuchElementException:
        car_model2.append("--")
#car_model

#Scrapping Car Variant
try:
    variant_elements2=driver.find_elements_by_xpath("//div[@style='min-height: 16px; color: rgba(0, 0, 0, 0.6);']")
    for o in variant_elements2:
        Variant2.append(o.text)
except NoSuchElementException:
        Variant2.append("--")
#Variant

#Scrapping Price of used cars
try:
    price_elements2=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for p in price_elements2:
        Price2.append(p.text)
except NoSuchElementException:
        Price2.append("--")
#Price

#Scrapping Location of used cars
try:
    car_location_elements2=driver.find_elements_by_xpath("//div[@class='cityIcon']")
    for r in car_location_elements2:
        Location2.append(r.text)
except NoSuchElementException:
        Location2.append("--")

#Location

#Scrapping Driven KM of used cars
try:
    driven_km_elements2=driver.find_elements_by_xpath("//div[@class='truncate dotlist']")
    for s in driven_km_elements2:
        Driven_km2.append(s.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Driven_km2.append("--")


#Scrapping Fuel of used cars
try:
    for t in driven_km_elements2:
        Fuel_Type2.append(t.text.strip().split('kms')[1].strip())
except NoSuchElementException:
        Fuel_Type2.append("--")
#Fuel

In [32]:
print (len(Variant2))
print (len(Price2))
print (len(Location2))
print (len(Driven_km2))
print (len(Fuel_Type2))
print (len(car_model2))
print (len(Fuel_Type2))
print (len(Manu_year2))
print (len(Brand2))

1981
1981
1771
1981
1981
1981
1981
1981
1981

In [33]:
#creating Dataframe
Used_Cars_in_Bangalore=pd.DataFrame({'Brand':Brand2[:3829],
                'Model':car_model2[:3829],
                'Price':Price2[:3829],
                'Manufacturing_Year':Manu_year2[:3829],
                'Variant':Variant2[:3829],
                #'Location':Location,
                'Driven_km':Driven_km2[:3829],
                'Fuel_Type':Fuel_Type2[:3829]
                })
Used_Cars_in_Bangalore #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Driven_km,Fuel_Type
0,Honda,Brio,4.31 Lakh,2016,1.2 E MT,"43,771",Petrol
1,Maruti,Ignis,5.32 Lakh,2017,1.2 Delta BSIV,"42,206",Petrol
2,Maruti,Alto,2.31 Lakh,2010,LXi BSIII,"60,998",Petrol
3,Hyundai,i10,2.73 Lakh,2008,Sportz,"93,398",Petrol
4,Honda,Brio,4.26 Lakh,2013,1.2 VX AT,"84,561",Petrol
...,...,...,...,...,...,...,...
1976,Skoda,Octavia,22.95 Lakh,2018,1.8 TSI AT L K,"7,917",Petrol
1977,Volkswagen,Jetta,4.75 Lakh,2009,1.9 Highline TDI,"87,000",Diesel
1978,Maruti,Ciaz,9.25 Lakh,2018,Alpha BSIV,"15,000",Petrol
1979,Maruti,Swift,8.25 Lakh,2018,ZDI Plus,"29,000",Diesel
1980,Volkswagen,Ameo,5.35 Lakh,2017,1.0 MPI Comfortline,"29,000",Petrol

In [34]:
#Scrapping used cars data in Indore

In [46]:
#Get element on search button
used_car_btn3 = driver.find_element_by_id("cardekhosearchtext")
used_car_btn3.send_keys("Used Cars In Jaipur")

In [41]:
#Automate 'Enter' key to get the products webpage
from selenium.webdriver.common.keys import Keys
used_car_btn3.send_keys(Keys.ENTER) #clicking enter button to get the searched webpage

In [47]:
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(60)

In [48]:
#car_details elements
Brand3=[]
Manu_year3=[] 
car_model3=[]
Variant3=[]
Price3=[]
Location3=[]
Driven_km3=[]
Fuel_Type3=[]

try:
    Brand_elements3=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7 carsName']/a")
    for q in Brand_elements3:
        Brand3.append(q.text.strip().split(' ')[1].strip())
except NoSuchElementException:
    Brand3.append("--")
    
#Scrapping Manufacturing year
try:
    for m in Brand_elements3:
        Manu_year3.append(m.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Manu_year3.append("--")
#Manu_year

#Scrapping Car model
try:
    for n in Brand_elements3:
        car_model3.append(n.text.strip().split(' ')[2].strip())
except NoSuchElementException:
        car_model3.append("--")
#car_model

#Scrapping Car Variant
try:
    variant_elements3=driver.find_elements_by_xpath("//div[@style='min-height: 16px; color: rgba(0, 0, 0, 0.6);']")
    for o in variant_elements3:
        Variant3.append(o.text)
except NoSuchElementException:
        Variant3.append("--")
#Variant

#Scrapping Price of used cars
try:
    price_elements3=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for p in price_elements3:
        Price3.append(p.text)
except NoSuchElementException:
        Price3.append("--")
#Price

#Scrapping Location of used cars
try:
    car_location_elements3=driver.find_elements_by_xpath("//div[@class='cityIcon']")
    for r in car_location_elements3:
        Location3.append(r.text)
except NoSuchElementException:
        Location3.append("--")

#Location

#Scrapping Driven KM of used cars
try:
    driven_km_elements3=driver.find_elements_by_xpath("//div[@class='truncate dotlist']")
    for s in driven_km_elements3:
        Driven_km3.append(s.text.strip().split(' ')[0].strip())
except NoSuchElementException:
        Driven_km3.append("--")


#Scrapping Fuel of used cars
try:
    for t in driven_km_elements3:
        Fuel_Type3.append(t.text.strip().split('kms')[1].strip())
except NoSuchElementException:
        Fuel_Type3.append("--")
#Fuel

In [49]:
print (len(Variant3))
print (len(Price3))
print (len(Location3))
print (len(Driven_km3))
print (len(Fuel_Type3))
print (len(car_model3))
print (len(Fuel_Type3))
print (len(Manu_year3))
print (len(Brand3))

692
692
479
692
692
692
692
692
692

In [51]:
#creating Dataframe
Used_Cars_in_Jaipur=pd.DataFrame({'Brand':Brand3,
                'Model':car_model3,
                'Price':Price3,
                'Manufacturing_Year':Manu_year3,
                'Variant':Variant3,
                #'Location':Location,
                'Driven_km':Driven_km3,
                'Fuel_Type':Fuel_Type3
                })
Used_Cars_in_Jaipur #Printing the dataframe

,Brand,Model,Price,Manufacturing_Year,Variant,Driven_km,Fuel_Type
0,Hyundai,Grand,3.47 Lakh,2015,Sportz,"80,468",Petrol
1,Renault,KWID,2.88 Lakh,2018,RXL,"39,080",Petrol
2,Maruti,Baleno,5.22 Lakh,2016,1.2 Alpha,"74,838",Petrol
3,Hyundai,Grand,4.22 Lakh,2017,Magna,"53,955",Petrol
4,Hyundai,Grand,4.47 Lakh,2017,Magna,"38,612",Petrol
...,...,...,...,...,...,...,...
687,Hyundai,Verna,8.75 Lakh,2017,CRDi 1.6 SX Option,"79,000",Diesel
688,Hyundai,Creta,12.25 Lakh,2018,1.6 VTVT AT SX Plus,"27,420",Petrol
689,Hyundai,Grand,2.8 Lakh,2010,Sportz 1.2 AT,"60,000",Petrol
690,Hyundai,Xcent,3.47 Lakh,2014,1.2 Kappa S,"75,836",Petrol
691,Mahindra,XUV500,4.96 Lakh,2012,W8 FWD,"1,32,899",Diesel

In [144]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_cars_in_Noida.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Used_Cars_in_Noida.to_excel(writer, sheet_name='Sheet1')

writer.save()

In [145]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_Cars_in_Bangalore.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Used_Cars_in_Bangalore.to_excel(writer, sheet_name='Sheet1')

writer.save()

In [146]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Used_Cars_in_Jaipur.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Used_Cars_in_Jaipur.to_excel(writer, sheet_name='Sheet1')

writer.save()

# Conclusion: In this Jupyter file, we collected data from OLX.COM & CARDEKHO website. Data scrapped from various locations including different Models and varients. In Total data collected is around 12,000